openapi: 3.0.0
info:
  title: IsWorkDay API
  description: This is a simple API for check work days.
  contact:
    url: https://github.com/chud0/is_workday/issues
  license:
    name: Apache 2.0
    url: https://github.com/chud0/is_workday/blob/master/LICENSE
  version: 1.0.0
servers:
- url: http://isworkday.ru/v1
  description: The production API server
tags:
- name: days
paths:
  /day/:
    get:
      tags:
      - days
      description: |
        Method for determining whether a day is a working day (including holidays)
      parameters:
      - name: date
        in: query
        description: date for check
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: "20190909"
      responses:
        200:
          description: check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        400:
          description: can't parsed date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                description: '{"date": ["Not a valid date."]}}'
        404:
          description: date not in calendar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                request_date: 2029-09-09
                description: '{"date": ["Not in calendar range"]}}'
components:
  schemas:
    Response:
      required:
      - description
      - request_date
      - result
      type: object
      properties:
        request_date:
          type: string
          format: date
          nullable: true
        result:
          type: boolean
          nullable: true
          example: true
        description:
          type: string
          nullable: true
